p{
font-family: "textebody",arial,sans-sherif;
color :#363636;
font-size: 17px;
line-height: 21px; 
font-weight: ;
margin-left: 26px
}

h1{ 
font-family: cursive; 
line-height: 84px;
border-width: 1,3px; 
border-color: #363636;
border-top: none;
border-right: none;
border-left: none; 
text-align: center;
font-size: 50px;
margin-left: 0px;
box-shadow: 0px 1px 5px #CBCBCB;
}

ol{

}

.sommaire{ 
 margin-left: 10px;
 font-size: 15px;
 font-family: "test3",arial,sans-sherif;
 line-height: 23px;
 border: solid;
 border-style: outset;
 margin-right: 1010px;
 border-top: none;
 border-left: none;
 border-bottom: none;
           

}
ul{
 font-size: 15px;
 margin-left: 10px;
 font-size: 15px;
 font-family: "test3",arial,sans-sherif;
 line-height: 23px;
 border: solid;
 border-style: outset;
 margin-right: 1010px;
 border-top: none;
 border-left: none;
 border-bottom: none;
}

h4{
font-size: 25px
}

h2{ 
font-size: 44px ;
border: solid; ;
border-width: 2px; 
border-color: #363636;
border-right: #FFFFFF;
border-left: #FFFFFF;
border-top : #FFFFFF;
margin-right: 325px;
margin-left: 50px; 
border-radius: 1px;
}

body{ 
line-height: 34px;
box-shadow: 1px 10px 10px #CBCBCB;
}

.div2{
margin-left: 1px;
border : solid;
border-width: 6px; 
border-color: #363636;
border-right: #363636;
border-left: #363636;
border-top : #FFFFFF;
margin-right: 7px;
margin-left: 2px; 
           


}
/* box shadow permet de faire des ombre. Cela est très stylée
line height permet de sauter des ligne
border permet de mettre des ligne droite
font family permet de changer le style d'écriture (il y en a plusieur de style d'écriture)
font size permet de modifier la taille du texte
*/

iframe{
box-shadow: 10px 10px 4px black;

}

img{
	
}

.fin{
margin-left: 0px;
box-shadow: 0px 0px 0px black;
margin-right: 500px;  
min-height: 100px
}

.img{
box-shadow: 10px 10px 4px black;
margin-right: 170px
}

h5{ 
font-size: 28px; 
}

h6{ 
font-size: 20px;
margin-left: 90px;
  
}

h4{
font-size: 20px;
margin-left: 90px;
margin-top: 200px; 
}


h3{ 
font-size: 30px;
}


a{ 
    text-decoration: none; 
    box-shadow: 2px 2px 5px #CBCBCB;
}
.home{
	text-decoration: none
}
div{ 
text-align: left; 
letter-spacing: normal;
text-decoration: none;
margin-top: -600px;
margin-right: 5px; 
margin-left: 350px;
}
